version: "3.8"

services:
  edge:
    build: ./ops/edge
    image: ${REGISTRY}/edge:${IMAGE_TAG}   # <- necessário pro App Service puxar
    ports:
      - "80:80"
    depends_on:
      - redpanda-console
      - schema-registry
      - redis-commander
      - mqtt-kafka-bridge
    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://localhost/healthz >/dev/null || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 5

  redpanda:
    image: docker.redpanda.com/redpandadata/redpanda:latest
    command:
      - redpanda start --smp 1 --memory 1G --overprovisioned --node-id 0
      - --kafka-addr PLAINTEXT://0.0.0.0:29092
      - --advertise-kafka-addr PLAINTEXT://redpanda:29092
    expose: ["29092","9644"]
    # Persistência real no App Service = /home
    volumes:
      - /home/redpanda/data:/var/lib/redpanda/data

  schema-registry:
    image: confluentinc/cp-schema-registry:7.5.0
    depends_on: [ redpanda ]
    expose: ["8083"]
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'redpanda:29092'
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8083

  redis:
    image: redis:alpine
    expose: ["6379"]

  redis-commander:
    image: rediscommander/redis-commander:latest
    depends_on: [ redis ]
    expose: ["8081"]
    environment:
      REDIS_HOSTS: local:redis:6379

  redpanda-console:
    image: docker.redpanda.com/redpandadata/console:latest
    depends_on: [ redpanda ]
    expose: ["8080"]
    environment:
      KAFKA_BROKERS: "redpanda:29092"

  mqtt-kafka-bridge:
    build:
      context: ./python-bridge
    image: ${REGISTRY}/mqtt-kafka-bridge:${IMAGE_TAG}
    restart: always
    expose: ["8000"]
    depends_on: [ redpanda ]
    environment:
      MQTT_BROKER: "broker.hivemq.com"
      MQTT_PORT: 1883
      KAFKA_BROKER: "redpanda:29092"
      KAFKA_TOPIC: "iot-data"

  kafka-redis-consumer:
    build:
      context: ./kafka-redis-consumer
    image: ${REGISTRY}/kafka-redis-consumer:${IMAGE_TAG}
    restart: always
    depends_on: [ redpanda, redis ]
    environment:
      KAFKA_BROKER: "redpanda:29092"
      KAFKA_TOPIC: "iot-data"
      REDIS_HOST: "redis"
