version: "3.9"

services:
  redpanda:
    image: docker.redpanda.com/redpandadata/redpanda:latest
    container_name: redpanda
    restart: unless-stopped
    command:
      - redpanda
      - start
      - --smp
      - "1"
      - --memory
      - 1G
      - --overprovisioned
      - --node-id
      - "0"
      - --kafka-addr
      - PLAINTEXT://0.0.0.0:29092
      - --advertise-kafka-addr
      - PLAINTEXT://redpanda:29092
    ports:
      - "29092:29092"
      - "9644:9644"
    volumes:
      - redpanda_data:/var/lib/redpanda/data

  schema-registry:
    image: confluentinc/cp-schema-registry:7.5.0
    container_name: schema-registry
    restart: unless-stopped
    depends_on: [ redpanda ]
    ports:
      - "8081:8081"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: "redpanda:29092"
      SCHEMA_REGISTRY_LISTENERS: "http://0.0.0.0:8081"

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    # Em produção, evite expor publicamente:
    # ports: [ "6379:6379" ]

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis-commander
    restart: unless-stopped
    depends_on: [ redis ]
    ports:
      - "8082:8081"
    environment:
      REDIS_HOSTS: "local:redis:6379"

  redpanda-console:
    image: docker.redpanda.com/redpandadata/console:latest
    container_name: redpanda-console
    restart: unless-stopped
    depends_on: [ redpanda ]
    ports:
      - "8080:8080"
    environment:
      KAFKA_BROKERS: "redpanda:29092"

  mqtt-kafka-bridge:
    image: iotkafkaacrwtvgek.azurecr.io/mqtt-kafka-bridge:latest
    container_name: mqtt-kafka-bridge
    restart: always
    ports:
      - "8000:8000"
    depends_on: [ redpanda ]
    environment:
      MQTT_BROKER: "broker.hivemq.com"
      MQTT_PORT: 1883
      KAFKA_BROKER: "redpanda:29092"
      KAFKA_TOPIC: "iot-data"

  kafka-redis-consumer:
    image: iotkafkaacrwtvgek.azurecr.io/kafka-redis-consumer:latest
    container_name: kafka-redis-consumer
    restart: always
    depends_on: [ redpanda, redis ]
    environment:
      KAFKA_BROKER: "redpanda:29092"
      KAFKA_TOPIC: "iot-data"
      REDIS_HOST: "redis"

  # Watchtower — olha somente suas imagens privadas do ACR
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/azureuser/.docker/config.json:/config.json:ro   # <= ajuste o usuário se for outro
    command: --interval 60 --cleanup mqtt-kafka-bridge kafka-redis-consumer


volumes:
  redpanda_data:
