services:
  edge:
    image: ${REGISTRY}/edge:${IMAGE_TAG}
    ports: ["80:80"]
    depends_on: [ redpanda, redpanda-console, redis-commander, schema-registry ]

  redpanda:
    image: docker.redpanda.com/redpandadata/redpanda:latest

  schema-registry:
    image: confluentinc/cp-schema-registry:7.5.0

  redis:
    image: redis:alpine

  redis-commander:
    image: rediscommander/redis-commander:latest

  redpanda-console:
    image: docker.redpanda.com/redpandadata/console:latest

  mqtt-kafka-bridge:
    image: ${REGISTRY}/mqtt-kafka-bridge:${IMAGE_TAG}

  kafka-redis-consumer:
    image: ${REGISTRY}/kafka-redis-consumer:${IMAGE_TAG}
