

services:
  edge:
    image: iotkafka.azurecr.io/edge:fix-redis
    ports: ["80:80"]  # único endpoint público
    depends_on:
      - redpanda
      - schema-registry
      - redis
      - redis-commander
      - redpanda-console
      - mqtt-kafka-bridge
      - kafka-redis-consumer

  redpanda:
    image: docker.redpanda.com/redpandadata/redpanda:latest
    command: ["redpanda","start","--smp","1","--memory","1G","--overprovisioned","--node-id","0",
              "--kafka-addr","PLAINTEXT://0.0.0.0:29092",
              "--advertise-kafka-addr","PLAINTEXT://redpanda:29092"]

  schema-registry:
    image: confluentinc/cp-schema-registry:7.5.0
    depends_on: [ redpanda ]
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: redpanda:29092
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
      

  redis:
    image: redis:alpine
    
  redis-commander:
    image: rediscommander/redis-commander:latest
    depends_on: [ redis ]
    environment:
      REDIS_HOSTS: local:redis:6379
      URL_PREFIX: /redis

  redpanda-console:
    image: docker.redpanda.com/redpandadata/console:latest
    depends_on: [ redpanda, schema-registry ]
    environment:
      KAFKA_BROKERS: redpanda:29092
      SCHEMAREGISTRY_URL: http://schema-registry:8081
      # >>> chave para funcionar atrás de /console/
      SERVER_SETBASEPATHFROMXFORWARDEDPREFIX: "true"
      SERVER_STRIPPREFIX: "true"


  mqtt-kafka-bridge:
    image: iotkafka.azurecr.io/mqtt-kafka-bridge:d64add831995768d1f2f8a2ee5d11bc6673c3e88
    restart: always
    depends_on: [ redpanda ]
    environment:
      MQTT_BROKER: broker.hivemq.com
      MQTT_PORT: "1883"
      KAFKA_BROKER: redpanda:29092
      KAFKA_TOPIC: iot-data
      # >>> Para FastAPI/Uvicorn atrás de /api
      UVICORN_HOST: "0.0.0.0"
      UVICORN_PORT: "8000"
      UVICORN_CMD_ARGS: "--root-path /api --proxy-headers --forwarded-allow-ips=*"
      URL_PREFIX: /api
  kafka-redis-consumer:
    image: iotkafka.azurecr.io/kafka-redis-consumer:d64add831995768d1f2f8a2ee5d11bc6673c3e88
    restart: always
    depends_on: [ redpanda, redis ]
    environment:
      KAFKA_BROKER: redpanda:29092
      KAFKA_TOPIC: iot-data
      REDIS_HOST: redis

